logs
libraries
versions
cache
debug
world
world_nether
world_the_end
data
crash-reports

.console_history
usercache.json
version_history.json

/proxy/proxy.jar
/proxy/lang
/proxy/forwarding.secret


/plugins/WorldEdit
/plugins/Essentials/userdata
/plugins/Essentials/userdata-npc-backup
/plugins/Essentials/warps
luckperms-h2.mv.db

server.jar
